# Target and common defaults
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000

# Wi-Fi
CONFIG_WIFI_PROV_SCAN_MAX_ENTRIES=16
CONFIG_ESP_WIFI_SSID="cabina"

# Logging
# Options: NONE (0), ERROR (1), WARN (2), INFO (3), DEBUG (4), VERBOSE (5)
# CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y  # Uncomment for DEBUG level
# CONFIG_LOG_DEFAULT_LEVEL_WARN=y   # Uncomment for WARN level (less verbose)


