# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and runtime files
*.log
*.pid

# IDE / editor settings
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Envs & secrets
.env
*.env

# Misc
.mypy_cache/
.pytest_cache/
