menu "Example Configuration"

    choice EXAMPLE_HARDWARE
        prompt "Hardware"
        default EXAMPLE_HARDWARE_QTPY
        help
            Select the hardware to run this example on.

        config EXAMPLE_HARDWARE_QTPY
            bool "QtPy ESP32 Pico or QtPy ESP32-S3"

        config EXAMPLE_HARDWARE_CUSTOM
            bool "Custom"
    endchoice

    config EXAMPLE_I2C_SCL_GPIO
        int "SCL GPIO Num"
        range 0 50
        default 40 if EXAMPLE_HARDWARE_QTPY && IDF_TARGET_ESP32S3
        default 15 if EXAMPLE_HARDWARE_QTPY && IDF_TARGET_ESP32C6
        default 19 if EXAMPLE_HARDWARE_QTPY && IDF_TARGET_ESP32
        default 19 if EXAMPLE_HARDWARE_CUSTOM
        help
            GPIO number for I2C Master clock line.

    config EXAMPLE_I2C_SDA_GPIO
        int "SDA GPIO Num"
        range 0 50
        default 41 if EXAMPLE_HARDWARE_QTPY && IDF_TARGET_ESP32S3
        default 14 if EXAMPLE_HARDWARE_QTPY && IDF_TARGET_ESP32C6
        default 22 if EXAMPLE_HARDWARE_QTPY && IDF_TARGET_ESP32
        default 22 if EXAMPLE_HARDWARE_CUSTOM
        help
            GPIO number for I2C Master data line.

    config EXAMPLE_I2C_CLOCK_SPEED_HZ
        int "I2C Clock Speed"
        range 100 1000000
        default 400000
        help
            I2C clock speed in Hz.

    config EXAMPLE_WIFI_SSID
        string "Wi-Fi SSID"
        default "YourWiFiNetwork"
        help
            SSID (network name) for the Wi-Fi connection.

    config EXAMPLE_WIFI_PASSWORD
        string "Wi-Fi Password"
        default "YourWiFiPassword"
        help
            Password for the Wi-Fi network.

    config EXAMPLE_WIFI_MAX_RETRY
        int "Wi-Fi Maximum Connection Retries"
        range 1 20
        default 5
        help
            Maximum number of retry attempts when connecting to Wi-Fi.

    config EXAMPLE_IR1_GPIO
        int "IR Sensor 1 GPIO Pin"
        range 0 50
        default 2
        help
            GPIO pin number for IR presence sensor 1.

    config EXAMPLE_IR2_GPIO
        int "IR Sensor 2 GPIO Pin"
        range 0 50
        default 3
        help
            GPIO pin number for IR presence sensor 2.

    config EXAMPLE_IR_PULLUPS
        bool "Enable pull-ups for IR sensors"
        default y
        help
            Enable internal pull-ups for IR sensor inputs. If enabled, high level means presence detected.
            If disabled, low level means presence detected.

endmenu
