# Target and common defaults
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000

# Wi-Fi
CONFIG_WIFI_PROV_SCAN_MAX_ENTRIES=16
CONFIG_ESP_WIFI_SSID="cabina"

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y


